.popup-buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
}

.cancel-button {
  background-color: #c7cbd1 !important;
  color: white;
  border: none;
  outline: none;
  margin: 10px;
}

.confirm-disabled {
  background-color: #c7cbd1 !important;
}

.payment-options {
  display: flex;
  flex-direction: column;
}

.payment-option {
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-between;
}

.success-message {
  margin: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.check-icon {
  color: green;
  height: 50px;
  width: 50px;
}
